# CONFIGURACION PARA PRODUCCION
spring:
  datasource:
    url: jdbc:postgresql://postgres_server:5432/postgres
    username: postgres
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop  
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    generate-ddl: true
    show-sql: true